<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Categories List</h4>
                <h6 class="card-subtitle">Data table example</h6>
                <span style="float: right;"><a href="/category/add">Add New</a></span>
                <div class="table-responsive m-t-40">                    
                    <form action="/category/save" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <label>name</label>
                                <input type="text" name="name" class="form-control" placeholder="Email">
                            </div>                           
                             <div class="form-group">
                                <label>slug</label>
                                <input type="text" name="slug" class="form-control" placeholder="Email">
                            </div>                           
                             <div class="form-group">
                                <label>description</label>
                                <input type="text" name="description" class="form-control" placeholder="Email">
                            </div>                           
                             <div class="form-group">
                                <label>image</label>
                                <input type="file" name="image" class="form-control" >
                            </div>
                            <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Sign in</button>
                            <div class="register-link m-t-15 text-center">
                                <p>Don't have account ? <a href="/signup"> Sign Up Here</a></p>
                            </div>
                        </form>
                    
                </div>
                
            </div>
            
        </div>
       
  </div>
</div>

